/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

.header{
  display: flex;
}

.header-side{
  width: 250px;
  background-color: #2F3E51;
  font-size: 40px;
  text-align: center;
}
.logo{
  color: white;
  text-decoration: none;
}
.header-main{
  background-color: lightblue;
  height: 70px;
  font-size: 40px;
  width: calc(100vw - 250px);
  border-bottom: 2px solid gray;
}

.post{
  text-decoration: none;
  font-weight: 200;
  color: black;
}

