.new-main{
  font-size: 50px;
  text-align: center;
  position: relative;
}
.time{
  font-weight: bold;
}
.circle-attend {
  display: inline-block;
  text-align: center;/*左右中央*/
  width: 300px;
  height: 300px;
  line-height: 200px;
  border-radius: 50%;
  background: skyblue;
  font-size: 100px;
}
.circle-attend a, .circle-leave a, .main-menu a{
  text-decoration: none;
  color: cadetblue;
}
.circle-leave {
  display: inline-block;
  text-align: center;/*左右中央*/
  width: 300px;
  height: 300px;
  line-height: 200px;
  border-radius: 50%;
  background: orange;
  font-size: 100px;
  text-decoration: none;
}

.main-menu{
  border: 1px solid lightgray;
}